.schedule {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

.schedule-body {
  background-color: rgb(227, 232, 241);
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.options-container {
  display: flex;
  flex-direction: column;
}

.time-in-day-container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.timestones-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.milestone-container {
  flex-grow: 75;
  display: flex;
  flex-direction: column;
}

.milestone:last-child {
  border-bottom: 0;
}

.milestone {
  flex-grow: 1;
  border-bottom: 1px solid rgb(175, 175, 175);
}

.timestones {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timestones:first-child {
  flex: 0.5;
}

.timestones:last-child {
  flex: 0.5;
}

.option-container {
  display: flex;
  flex-direction: column;
}

.add-todo {
  height: 10vh;
  display: flex;
  justify-content: center;
}

.calendar {
  height: fit-content;
  padding-left: 1rem;
}

.other-options {
  flex-grow: 1;
}

.btn-add-todo {
  margin-left: 35%;
  width: 30%;
}

.add-todo-popup {
  position: absolute;
  width: 30rem;
  height: 40rem;
  z-index: 1;
  top: calc(50% - 20rem);
  left: calc(50% - 15rem);
  border: 1px solid black;
  background-color: rgb(227, 232, 241);
}

